.mainLayout{
    display: flex;
    justify-content: center;
    align-items: center;
    & .pageHeader{
        box-shadow: rgba(0, 0, 0, 0.39) 0px 6px 50px;
        border-radius: 10px;
        text-align: center;
        color: #1b78ec;
        font-weight: bold;
        padding: 5px 20px;
    }
}