.login-Page {
  width: 100%;
  height: 100vh;
  & .login-Img {
    display: flex;
    justify-content: center;
    align-self: center;
    overflow: hidden;
    border-radius: 20px;
    & img{
        border-radius: 20px;
        box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset
    }
  }
  & .login-Section {
    // background-color: green;
    height: 100vh;
  }
  & .login-Form {
    backdrop-filter: blur(0px);
    width: 100%;
    height: 80vh;
    border-radius: 20px;
    display: flex;
    background-color: rgb(255, 255, 255);
    color: rgb(16, 24, 32);
    box-shadow: rgba(0, 0, 0, 0.164) 0px 6px 50px;
    align-items: center;
    flex-direction: column;
    & .login-Form-Header {
      width: 90%;
      height: 15%;
      margin-top: 3%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      // background-color: blue;
      h6 {
        color: var(--font-color-black);
      }
      & .title-1 {
        color: #1B78EC;
        width: 100%;
        line-height: 1.2;
      }
      & .title-2 {
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        color: var(--font-color-gray);
        & a {
          display: flex;
          justify-content: center;
          align-items: start;
          font-size: 14px;
          margin-left: 5px;
          text-decoration: none;
          &:hover {
            color: blue;
            text-decoration: underline;
          }
        }
      }
    }
    & .login-Main-Form {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      // background-color: green;
      width: 90%;
      height: 70%;
      & .login-Input {
        // border: solid 2px ;
        width: 100%;
      }
      & .forgot-Pass {
        align-self: flex-start;
        & a {
          font-size: 14px;
          // line-height: 1.2;
          text-decoration: none;
          margin-top: 50%;
          &:hover {
            color: blue;
            text-decoration: underline;
          }
        }
      }
      & .login-Submit {
        width: 100%;
        & .submit-Button {
          text-transform: none;
          border-radius: 12px;
          background-color: rgb(0, 30, 255);
          font-weight: bolder;
          width: 100%;
          font-size: 1.0417rem;
          padding: 15px 0px;
          text-align: center;
        }
      }
      & .isBlank {
        align-self: flex-start;
        color: red;
        font-size: small;
      }
    }
  }
  & .tabletMode{
    position: absolute;
  }
}
