.navBar-container {
    display: flex;
  & nav {
    background-color: white ;
  }
  & .navBar-Logo {
    & .navBar-Logo-font {
      font-style: italic;
      color: #1b78ec;
      font-weight: bold;
    }
  }
  & .nav-Item {
    color: #1b78ec;
    
    &.nav-Item-logout {
      color: #f44336;
    }
  }
  & .navBar-Item-Font{
    color: #1b78ec;
    margin-left: 8px;
    
    &.navBar-logout {
      color: #f44336;
    }
  }
  & .navBar-MB-Icon{
    color: var(--font-color-black);
    font-size: 1.3em;
  }
}
